<div class="contenedor">

    <span class="titulo">Acerca de</span>
  
    <p class="texto-acercade">Me desempeñe como Responsable IT en Eco de los Andes SA para planta Moreno y Tunuyan. Poseo más de 10 años de experiencia en soporte a usuarios adaptando el lenguaje según niveles técnicos del cliente.
        Participo y coopero brindando soporte a otras entidades del grupo como, por ejemplo, Nestle S.A y Quilmes. 
        Lidere el análisis de procedimientos y gestiones de las distintas áreas de la compañía para la implementación de un nuevo sistema ERP. Lidere la puesta en marcha de nuevas oficinas entre algunos objetivos destacados.
        Involucrándome con el objetivo empresarial, logre la renovación del parque informático en su totalidad optimizando los tiempos de gestión y producción. 
        Soy una persona permeable a ideas y sugerencias, sumando valor agregado a la hora de resolver las inquietudes que puedan tener los clientes.</p>
  </div>