<div class="contenedor-fotos">

    <!-- BANNER -->
 
   <div class="banner"></div>   
      
   <!-- FOTO PERFIL -->
 
   <div id="foto-perfil">
 
     <img src="assets/FotoPerfil.JPG" class="profile-foto" alt="">
     <button class="editar-foto"><i class="fa-sharp fa-solid fa-pen fa-1x"></i></button>
   
   </div>
 
 <!-- INFORMACION PERSONAL -->  
 
   <div class="contenedor-datos">
       
       <span class="titulo">Landry Lionel</span>
       
       <br>
 
       <span class="texto-presentacion">Consultor Semi Senior - Administración y Control en Manas Tecnología Informática S.A. (Manas)</span>
      
       <br>
       <br>
 
       <span class="texto-presentacion">Buenos Aires (Argentina)</span>
             
       
       <div class="info-contacto">
           
           <a class="Linkedin-ruta" href="https://www.linkedin.com/in/lionel-landry/" target="_blank">
               <img src="assets/Linkedin.png" class="Linkedin">
           </a>
           
       </div>
 
       
 
   </div>
   
   <!-- ---------------------- -->
 </div>